#write.btn.btn-dark {
    width: 88px;
    height: 32px;
    position: absolute;
    top: 10px; /* 조정할 상단 여백 값 */
    right: 10px; /* 조정할 오른쪽 여백 값 */
}

#write button { 
    width: 57px;
    height: 31px;
    color: #FFFFFF;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.btn-secondary.btn-sm.float-end {
    margin-right: 10px; /* 조절할 여백 값 */
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination {
    justify-content: center;
    margin-top: 20px; /* 페이지네이션과 카드 간격 조절 */
}

.custom-card {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    display: absolute;
    flex-direction: column; 
    top:233px;
}

.card-body {
    flex: 1; /* Allow the card-body to grow to fill available space */
    padding: 10px;
}

.custom-card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
}

.custom-card .card-body {
    padding: 10px;
}

.custom-card h5 {
    margin-bottom: 5px;
}

.custom-card .card-text {
    margin-bottom: 10px; 
}



