<!DOCTYPE html>
<html>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<head>
    <title>게시물</title>
    <link rel="stylesheet" href="{% static 'post/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

    <!-- Bootstrap5.x 적용 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
    4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{% static 'post/css/style.css' %}">

</head>  

<body>
    <div id="container">
        <!-- 사이드바 -->
        <div id="Rectangle29"></div>
            <!-- 게시물 -->
            <a id="rectangle32" href="{% url 'post_list' %}"></a>
            <a href="{% url 'post_list' %}"><img src="../../static/post/description.svg" id="description"></a>
            <div id="post">게시물</div>
            <!-- 정보 -->
            <a id="rectangle37" href="{% url 'contact' %}"></a>
            <a href="{% url 'contact' %}"><img src="../../static/post/bar_chart.svg" id="bar_chart"></a>
            <div id="info">정보</div>
            <!-- 규정 검색 -->
            <a id="rectangle40"></a>
            <img src="../../static/post/action_key.svg" alt="" id="action_key">
            <div id="searchRegulation">규정 검색</div>

        <!-- 게시물 카테고리 사이드바 -->
        <div id="sidebar-container">
            <!-- 게시물 -->
            <div id="sidebar-post" class="sidebar-content">
                {% include 'post/sidebar_post.html' %}
            </div>

            <!-- 정보 -->
            <div id="sidebar-info" class="sidebar-content">
                {% include 'post/sidebar_info.html' %}
            </div>

            <!-- 규정 검색 -->
            <div id="sidebar-search" class="sidebar-content">
                {% include 'post/sidebar_search.html' %}
            </div>

        </div>

        <!-- 상단바 -->
        <div id="Rectangle52"></div>
        <a href="{% url 'post_list' %}"><img src="../../static/post/notification.svg" id="notificationsIcon"></a>
        <a id="duckSungLogo" href="{% url 'post_list' %}">덕성신문고</a>
        {% if user.is_authenticated %}
            <a href="#"><img src="../../static/post/account_circle.svg" alt="" id="accountIcon"></a>
            <a id="logout" href="/accounts/logout/">로그아웃</a>
        {% else %}
            <a href="/accounts/login/" id="loginText">로그인</a>
            <a href="/accounts/signup/" id="rectangle17"></a>
            <a id="signupText" href="/accounts/signup/">회원가입</a>
        {% endif %}

        <!-- 메인 컨테이너 -->
        <div id="main_container">
            <!-- Search 검색창 -->
        <div id="post-search" class="sidebar-content">
            {% include 'post/search.html' %}
        </div>
            <!-- 검색 결과 표시 -->
            {% if posts %}
                <h3>Search Results for "{{ query }}"</h3>
                <ul>
                    <!-- 검색한 게시물 -->
                    {% block search_area %}
                    {% endblock %}
                </ul>
            {% elif query %}
                <p>No results found for "{{ query }}"</p>
            {% else %}
                {% block main_area %}
                {% endblock %}
            {% endif %}
        </div>
      
        <!-- 인기글 -->
        <div id="popular">
            <div id="popular_text">이번 달 인기글</div>
            <ul>
                {% for post in top_5_posts %}
                    <!-- <div class="post-info post-ranking"> -->
                    <div>
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ forloop.counter }}위 {{ post.title }}</a>
                    </div>
                    <!-- <div class="post-content post-ranking"> -->
                    <div>
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.content }}</a>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>

<!--    부트스트랩 주석 처리함-->
<!--    <div id="main-container">-->
<!--        <div class="container my-3">-->
<!--            <div class="row">-->
<!--                <div class="col-md-8 col-lg-9 mt-1" id="main-area">-->
                    <!-- Pagination -->
<!--                    <ul class="pagination justify-content-center mb-4">-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="#">&larr; Older</a>-->
<!--                        </li>-->
<!--                        <li class="page-item disabled">-->
<!--                            <a class="page-link" href="#">Newer &rarr;</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <!-- Bootstrap5.x 적용 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-
    HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script>
            document.getElementById('searchForm').addEventListener('submit', function (e) {
                e.preventDefault();  // Prevent the form from submitting immediately
                var searchTerm = document.querySelector('[name="searched"]').value;
                var baseUrl = "{% url 'search' slug='placeholder' %}".replace('placeholder', searchTerm);
                this.action = baseUrl
                this.submit();
            });
        </script>
        <script src="{% static 'post/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

</body>

</html>
