{% extends 'post/base.html' %}

{% block head_title %}
  Create Post
{% endblock %}

{% block main_area %}
  <h1>Create New Post</h1>
  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.title.label_tag }}
    {{ form.title }}
    <br>

    {{ form.content.label_tag }}
    {{ form.content }}
    <br>

    {{ form.category.label_tag }}
    {{ form.category }}
    <br>

    {{ form.anonymous_nickname.label_tag }}
    {{ form.anonymous_nickname }}
    <br>

    {{ form.images.label_tag }}
    {{ form.images }}
    <br>

    {{ form.video.label_tag }}
    {{ form.video }}
    <br>

    {{ form.attachment.label_tag }}
    {{ form.attachment }}
    <br>

    <button type="submit">등록</button>
    <a href="{% url 'post_list' %}"><button type="button">작성 취소</button></a>
    <a href="{% url 'post_list' %}"><button type="button">목록보기</button></a>
  </form>
{% endblock %}





