<html lang="ko">
<head>
  {% load static %}
  <title>게시물 삭제 확인</title>
  <link rel="stylesheet" href="{% static 'post/css/form.css' %}">
  <link rel="stylesheet" href="{% static 'post/css/style.css' %}">
 
  <link rel="stylesheet" href="{% static 'post/bootstrap/bootstrap.min.css' %}" media="screen">
  <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'post/bootstrap/bootstrap.min.css' %}" media="screen">
  <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

  <!-- Bootstrap5.x 적용 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
  4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
  
    #confirm {
      text-align: center;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
  </style>
  

</head>
<body>

  <hr>
  <div id="container">
    <!-- 사이드바 -->
  <div id="Rectangle29"></div>
      <!-- 게시물 -->
    <a id="rectangle32" href="{% url 'post_list' %}"></a>
    <a href="{% url 'post_list' %}"><img src="{% static 'post/description.svg' %}" id="description"></a>
    <div id="post">게시물</div>
    <!-- 정보 -->
    <a id="rectangle37" href="{% url 'contact' %}"></a>
    <a href="{% url 'contact' %}"><img src="{% static 'post/bar_chart.svg' %}" id="bar_chart"></a>
    <div id="info">정보</div>
    <!-- 규정 검색 -->
    <a id="rectangle40"></a>
    <img src="{% static 'post/action_key.svg' %}" alt="" id="action_key">
    <div id="searchRegulation">규정 검색</div>
  
    <!-- 게시물 카테고리 사이드바 -->
    <div id="sidebar-container">
        <!-- 게시물 -->
        <div id="sidebar-post" class="sidebar-content">
            {% include 'post/sidebar_post.html' %}
        </div>
  
        <!-- 정보 -->
        <div id="sidebar-info" class="sidebar-content">
            {% include 'post/sidebar_info.html' %}
        </div>
  
        <!-- 규정 검색 -->
        <div id="sidebar-search" class="sidebar-content">
            {% include 'post/sidebar_search.html' %}
        </div>
  
    </div>
  
  <!-- 상단바 -->
  <div id="Rectangle52"></div>
  <a href="{% url 'post_list' %}"><img src="{% static 'post/notification.svg' %}" id="notificationsIcon"></a>
  <a id="duckSungLogo" href="{% url 'post_list' %}">덕성신문고</a>
  {% if user.is_authenticated %}
      <a href="#"><img src="{% static 'post/account_circle.svg' %}" alt="" id="accountIcon"></a>
      <a id="logout" href="/accounts/logout/">로그아웃</a>
  {% else %}
      <a href="/accounts/login/" id="loginText">로그인</a>
      <a href="/accounts/signup/" id="rectangle17"></a>
      <a id="signupText" href="/accounts/signup/">회원가입</a>
  {% endif %}

    <form method="post" class ="delete-form">
<!--     <form id="confirm" method="post" class ="delete-form"> -->
      {% csrf_token %}
      <p>정말로 해당 글을 삭제하시나요?</p>
        <input id="delete" type="submit" class="btn btn-primary" value="Delete">
        <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline">Cancel</a>
    </form>
  </div>
    <script src="{% static '/post/js/script.js' %}"></script>
  </body>

