{% extends 'post/base.html' %}

<html lang="ko">
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'post/css/form.css' %}">
</head>
<body>
{% block head_title %}
  Create Post
{% endblock %}

{% block main_area %}
  <h1>Create New Post</h1>
  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.title.label_tag }}
    <input type="text" name="{{ form.title.name }}" placeholder="게시글 제목">
    <br>

    {{ form.content.label_tag }}
    <textarea name="{{ form.content.name }}" placeholder="본문에 태그를 사용해보세요" rows="8" cols="80" maxlength="{{ form.content.field.max_length }}"></textarea>
    <br>

    {{ form.category.label_tag }}
    {{ form.category }}
    <br>

    {{ form.tags.label_tag }}
    {{ form.tags }}
    <br>

    {{ form.anonymous_nickname.label_tag }}
    {{ form.anonymous_nickname }}
    <br>

    {{ form.images.label_tag }}
    {{ form.images }}
    <br>

    {{ form.video.label_tag }}
    {{ form.video }}
    <br>

    {{ form.attachment.label_tag }}
    {{ form.attachment }}
    <br>

    <button type="submit">등록</button>
    <a href="{% url 'post_list' %}"><button type="button">작성 취소</button></a>
    <a href="{% url 'post_list' %}"><button type="button">목록보기</button></a>
  </form>
{% endblock %}





