{% extends 'post/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main_area %}
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="mb-1" style="font-size: 30px;font-weight: 600;">{{ post.title }}</h1>

                        <!-- Post meta content-->
                        <div class="text-muted mb-0 d-flex align-items-center">
                            <!-- Posted on -->
                            <span class="me-3">Posted on {{ post.created_at }}</span>

                            <!-- Post update icon -->
                            <div class="ms-auto mb-0">
                                {% if user.is_authenticated and user == post.author %}
                                    <a class="btn btn-outline-primary btn-sm rounded"
                                       href="{% url 'post_update' pk=post.pk %}" role="button">수정</a>
                                    <a class="btn btn-outline-danger btn-sm rounded ms-2"
                                       href="{% url 'post_delete' pk=post.pk %}" role="button">삭제</a>
                                {% endif %}
                                <form method="post" action="{% url 'post_detail' pk=post.pk %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" name="resolve_button"
                                            class="btn btn-outline-success btn-sm rounded ms-2">
                                        {% if post.is_resolved %}해결됨{% else %}해결됐어요 ({{ post.resolve_actions.count }}명)
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                        <hr style="padding-top:0px; margin-bottom: 0;">
                    </header>

                    <section class="mb-5" style="font-size: 18px;font-weight: 400;">
                        <p class="mb-4" style="font-size: 30px;font-weight: 400;">{{ post.content|linebreaks }}</p>
                    </section>
                    <!-- 이미지 표시 -->
                    {% if post.images %}
                        <img src="{{ post.images.url }}" alt="Post Image" class="img-fluid mb-3"
                             style="max-width: 80%; max-height: 30%;">
                    {% endif %}

                    <!-- 동영상 표시 -->
                    {% if post.video %}
                        <video width="320" height="240" controls>
                            <source src="{{ post.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}

                    <!-- 첨부 파일 다운로드 버튼 -->
                    {% if post.attachment %}
                        <a href="{{ post.attachment.url }}" class="btn btn-outline-secondary"
                           style="margin-bottom: 10px;" download>첨부 파일 다운로드</a>
                    {% endif %}

                    <!-- 다운로드 버튼생성-->
                    {% if post.file_upload %}
                        <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button"
                           download>다운로드</a>
                    {% endif %}


                    <!-- LIKES -->
                    {% if user.is_authenticated %}
                        <form action="{% url 'post_like' object.id %}" method="POST">
                            {% csrf_token %}

                            {% if post_is_liked %}
                                <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-info"><i
                                        class="fas fa-thumbs-up"></i></button>
                            {% else %}
                                <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-info"><i
                                        class="far fa-thumbs-up"></i></button>
                            {% endif %}
                        </form>
                    {% else %}
                        <a class="btn btn-outline-info" href="/accounts/login?next={{ request.path }}">공감하려면 로그인하세요!</a>
                        <br>
                    {% endif %}

                    <strong class="text-secondary">{{ number_of_likes }}공감</strong><br/>

                    <!-- Post categories-->
                    {% if post.category %}
                        <span class="badge bg-secondary">{{ post.category }}</span>
                    {% else %}
                        <span class="badge bg-secondary">기타</span>
                    {% endif %}

                    <!-- Display Anonymous Nickname -->
                    {% if post.anonymous %}
                        {% if post.anonymous_nickname %}
                            <div class="text-muted mb-2">작성자: {{ post.anonymous_nickname }}</div>
                        {% else %}
                            <div class="text-muted mb-2">작성자: 익명</div>
                        {% endif %}
                    {% else %}
                        <div class="text-muted mb-2">작성자:
                            {% if post.anonymous_nickname %}
                                {{ post.anonymous_nickname }}
                            {% else %}
                                {{ post.get_anonymous_nickname_display }}
                            {% endif %}
                        </div>
                    {% endif %}
                    </header>

                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">

                                <!-- Comment form-->
                                {% if user.is_authenticated %}

                                    <form class="mb-4 border-0" id="comment-form" method="POST"
                                          action="{% url 'new_comment' pk=post.pk %}">
                                    {% csrf_token %}

                                    <input name="new_comment" class="rounded" type="text" value="" placeholder="댓글을 작성해주세요." style="border: none; outline:none; height: 30px;">
                                    <button type="submit" class="btn btn-sm btn-dark rounded-5" style="margin-left:8px;">&nbsp;입력&nbsp;</button>
                                {% else %}
                                    <a role="button" class="btn btn-sm" href="#" data-toggle="modal"
                                       data-target="#loginModal">로그인하고 댓글을 남겨주세요!</a>
                                {% endif %}
                                </form>

                                <!-- Single comment-->

                                {% if post.comment_set.exists %}
                                    {% for comment in post.comment_set.iterator %}
                                        <div class="d-flex" id="comment={{ comment.pk }}">
                                            <div class="flex-shrink-0"><img class="rounded-circle"
                                                                            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                            alt="..."/></div>
                                            <div class="ms-3">
                                                <!-- COMMENT LIKES -->
                                                {% if user.is_authenticated %}
                                                    <form action="{% url 'comment_like' object.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" name="comment_id" value="{{ comment.pk }}"
                                                                class="btn btn-info"><i class="far fa-thumbs-up"></i>
                                                        </button>
                                                        <strong class="text-secondary">{{ comment.number_of_comment_likes }}공감</strong>
                                                    </form>
                                                {% else %}
                                                    <a class="btn btn-outline-info"
                                                       href="/accounts/login?next={{ request.path }}">공감하려면 로그인하세요!</a>
                                                    <br>
                                                {% endif %}




                                                <div class="fw-bold">{{ comment.author }}
                                                    & {{ comment.create_at }}</div>
                                                {{ comment.content | linebreaks }}
                                                {% if comment.created_at != comment.modified_at %}
                                                    <p class="text-muted"><small> Updated
                                                        : {{ comment.modified_at }}</small></p>
                                                {% endif %}

                                                {% if user.is_authenticated and comment.author == user %}
                                                    <a role="button" class="btn btn-outline-primary"
                                                       id="comment-{{ comment.pk }}-update-btn"
                                                       href="{% url 'update_comment' comment.pk %}">수정</a>
                                                {% endif %}

                                                <!-- 모달 열릴 때 backdrop 사용하지 않도록 설정 -->
                                                <a role="button" class="btn btn-outline-danger" data-toggle="modal"
                                                   data-target="#deleteCommentModal-{{ comment.pk }}"
                                                   data-backdrop="false">삭제</a>

                                                <!-- Delete Modal -->
                                                <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}"
                                                     tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">댓글을 삭제하시겠습니까?</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ comment }}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline-secondary"
                                                                        data-dismiss="modal">취소
                                                                </button>
                                                                <form class="d-inline" id="comment-form" method="POST"
                                                                      action="{% url 'delete_comment' pk=comment.pk %}">
                                                                    {% csrf_token %}
                                                                    <button type="submit"
                                                                            class="btn btn-outline-danger">삭제
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        // Function to handle comment deletion
        function deleteComment(commentId) {
            $.ajax({
                type: 'POST',
                url: '{% url 'delete_comment' pk=comment.pk %}',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (response) {
                    if (response.status === 'success') {
                        // Remove the comment from the UI first
                        $('#comment-' + commentId).remove();
                        // Close the modal
                        $('#deleteCommentModal-' + commentId).modal('hide');
                    } else {
                        alert('Failed to delete comment. ' + response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while trying to delete the comment.');
                }
            });
        }

        function handleDelete(commentId) {
            console.log("!!!!!!!!!!!!")
            console.log(commentId)
        }
    </script>
{% endblock %}