{% extends 'post/base.html' %}

{% block main_area %}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-end" href="{% url 'post_create' %}" role="button"><i class="fa fa-tags"></i>글 등록</a>
        {% endif %}
    {% endif %}

    <h1>게시물
        {% if category %}<span class="badge bg-secondary">{{ category }}</span> {% endif %}
        {% if tag %}<span class="bg-info text-dark"><i class="fa fa-tags"></i>{{ tag }}({{ tag.post_set.count}})</i></span> {% endif %}
    </h1>

    {% if post_list.exists %}
        {% for post in post_list %}
            <!-- Blog Post -->
            <div class="card mb-4">
                {% if post.images %}
                    <img class="card-img-top float-end" src="{{ post.images.url }}" alt="{{ post.title }}" style="max-width: 20%; max-height: 20%;">
                {% endif %}

                <!-- 동영상 표시 -->
                {% if post.video %}
                    <video width="320" height="240" controls>
                        <source src="{{ post.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}

                <div class="card-body">
                    {% if post.category %}
                        <span class="badge bg-secondary">{{ post.category }}</span>
                    {% else %}
                        <span class="badge bg-secondary">미분류</span>
                    {% endif %}

                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content | truncatewords:10 }}</p>

                    <br>
                    <br>

                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                </div>

                <div class="card-footer text-muted">
                    Posted on {{ post.created_at }} by
                    {% if post.anonymous %}
                        {% if post.anonymous_nickname %}
                            {{ post.anonymous_nickname }}
                        {% else %}
                            {{ "Anonymous" | upper }}
                        {% endif %}
                    {% else %}
                        <a href="#">{{ post.author.username | default:"Anonymous" | upper }}</a>
                    {% endif %}
                </div>

               
            </div>
        {% endfor %}
    {% else %}
        <h1>게시물이 없습니다.</h1>
    {% endif %}
{% endblock %}



