

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>

    <h1>{{ post.title }}</h1>

    <p>{{ post.content }}</p>
    <p>작성자: {{ post.author.username }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <p>카테고리: {{ post.category }}</p>
    {% if post.images %}
    <img src="{{ post.images.url }}" alt="Post Image" style="max-width: 100%;">
{% endif %}


 

    <!-- 게시물 수정 및 삭제 링크는 해당 사용자에게만 보이도록 함 -->
    {% if request.user.is_authenticated and p.author == request.user %}
        <p><a href="{% url 'post_update' pk=post.pk %}">수정</a></p>
        <p><a href="{% url 'post_delete' pk=post.pk %}">삭제</a></p>
    {% endif %}

</body>
</html>
