

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ p.title }}</title>
</head>
<body>

    <h1>{{ p.title }}</h1>

    <p>{{ p.content }}</p>
    <p>작성자: {{ p.author.username }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <p>카테고리: {{ post.category }}</p>


    {% if p.file_upload %}
        <p>첨부 파일: <a href="{{ p.file_upload.url }}" target="_blank">{{ p.file_upload.name }}</a></p>
    {% endif %}

    <!-- 게시물 수정 및 삭제 링크는 해당 사용자에게만 보이도록 함 -->
    {% if request.user.is_authenticated and p.author == request.user %}
        <p><a href="{% url 'post_update' pk=p.pk %}">수정</a></p>
        <p><a href="{% url 'post_delete' pk=p.pk %}">삭제</a></p>
    {% endif %}

</body>
</html>
