<style>
#Rectangle42 {
position: absolute;
width: 240px;
height: 1023px;
left: 92px;
top: 57px;

background: #FFFFFF;
box-shadow: -4px 0px 2px rgba(0, 0, 0, 0.1),
            4px 0px 2px rgba(0, 0, 0, 0.1);
}

/* Rectangle 19 */
#rectangle19 {
    position: absolute;
    width: 210px;
    height: 48px;
    left: 107px;
    top: 67px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* Rectangle 20 */
#rectangle20 {
    position: absolute;
    width: 210px;
    height: 48px;
    left: 107px;
    top: 115px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* Rectangle 21 */
#rectangle21 {
    position: absolute;
    width: 210px;
    height: 48px;
    left: 107px;
    top: 163px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* Rectangle 45 */
#rectangle45 {
    position: absolute;
    width: 210px;
    height: 48px;
    left: 107px;
    top: 211px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* Rectangle 46 */
#rectangle46 {
    position: absolute;
    width: 210px;
    height: 48px;
    left: 107px;
    top: 259px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* 시설 */
#facility {
    position: absolute;
    width: 36px;
    height: 18px;
    left: 127px;
    top: 83px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/* 행정 */
#administration {
    position: absolute;
    width: 36px;
    height: 18px;
    left: 127px;
    top: 131px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/* 복지 */
#welfare {
    position: absolute;
    width: 36px;
    height: 18px;
    left: 127px;
    top: 179px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/* 교육 */
#education {
    position: absolute;
    width: 36px;
    height: 18px;
    left: 127px;
    top: 227px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/* 기타 */
#other {
    position: absolute;
    width: 36px;
    height: 18px;
    left: 127px;
    top: 275px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/* Rectangle 43 */
#rectangle43 {
    box-sizing: border-box;
    position: absolute;
    width: 198px;
    height: 48px;
    left: 119px;
    top: 211px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* Rectangle 47 */
#rectangle47 {
    position: absolute;
    width: 198px;
    height: 48px;
    left: 119px;
    top: 307px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* Rectangle 44 */
#rectangle44 {
    position: absolute;
    width: 198px;
    height: 48px;
    left: 119px;
    top: 259px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* Rectangle 48 */
#rectangle48 {
    position: absolute;
    width: 198px;
    height: 48px;
    left: 119px;
    top: 355px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* 전체 */
#total {
    position: absolute;
    width: 36px;
    height: 18px;
    left: 139px;
    top: 227px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/* 장학금 */
#scholarship {
    position: absolute;
    width: 49px;
    height: 18px;
    left: 139px;
    top: 323px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/* 학식 */
#meal {
    position: absolute;
    width: 36px;
    height: 18px;
    left: 139px;
    top: 275px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

/* IT 서비스 */
#itService {
    position: absolute;
    width: 66px;
    height: 18px;
    left: 139px;
    top: 371px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

[id^="rectangle"] {
    cursor: pointer;
}

[id^="rectangle"]:hover {
    border: 1px solid #CCCCCC;
}

/*active 시 배경색 변경*/
#rectangle19:active,
#rectangle20:active,
#rectangle21:active,
#rectangle45:active,
#rectangle46:active
{
    background: #EDEDED; /* active 시 배경색 변경 */
}

/*시설hover*/
/*행정hover*/
/*복지hover*/
#welfare:hover ~ .rectangle43,
#welfare:hover ~ .rectangle44,
#welfare:hover ~ .rectangle45,
#welfare:hover ~ .rectangle46,
#welfare:hover ~ .rectangle47,
#welfare:hover ~ .rectangle48,
#welfare:hover ~ #total,
#welfare:hover ~ #meal,
#welfare:hover ~ #scholarship,
#welfare:hover ~ #itService,
#welfare:hover ~ #education,
#welfare:hover ~ #other {

}


/*교육hover*/



</style>

<!--컨테이너-->
<div id="Rectangle42"></div>
<!--기본 상태-->
    <div id="rectangle19" href="#"></div>
        <a id="facility" href="#">시설</a>
    <a id="rectangle20" href="#"></a>
        <a id="administration" href="#">행정</a>
    <a id="rectangle21" href="#"></a>
        <a id="welfare" href="#">복지</a>
<!-- 복지 hover 시 -->
<!--            <a id="rectangle43"></a>-->
<!--                <a id="total">전체</a>-->
<!--            <a id="rectangle44"></a>-->
<!--                <a id="meal">학식</a>-->
<!--            <a id="rectangle47"></a>-->
<!--                <a id="scholarship">장학금</a>-->
<!--            <a id="rectangle48"></a>-->
<!--                <a id="itService">IT서비스</a>-->
    <a id="rectangle45" href="#"></a>
        <a id="education" href="#">교육</a>
    <a id="rectangle46" href="#"></a>
        <a id="other" href="#">기타</a>
