<style>
#Rectangle42 {
position: absolute;
width: 240px;
height: 1023px;
left: 92px;
top: 57px;

background: #FFFFFF;
box-shadow: -4px 0px 2px rgba(0, 0, 0, 0.1),
            4px 0px 2px rgba(0, 0, 0, 0.1);
}

/* Rectangle 19 */
#rectangle19 {
    position: absolute;
    width: 210px;
    height: 48px;
    left: 107px;
    top: 67px;
    background: #FFFFFF;
    border-radius: 26px;
}

/* 문의처 정보 */
#info_ask {
    position: absolute;
    width: 96px;
    height: 18px;
    left: 127px;
    top: 83px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

[id^="rectangle"] {
    cursor: pointer;
}

[id^="rectangle"]:hover {
    border: 1px solid #CCCCCC;
}

</style>

<!--컨테이너-->
<div id="sidebar">
    <div id="Rectangle42"></div>
        <div id="rectangle19" href="#" style="background-color: #EDEDED;"></div>
            <a id="info_ask" href="#">문의처 정보</a>

</div>