<div class="btn-group " role="group" aria-label="Button group with nested dropdown">
    {% for tag in tags|slice:":10" %}
        <a href="{{ tag.get_absolute_url }}" class="btn btn-outline-secondary">{{ tag }}</a>
    {% endfor %}

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      더보기
    </button>
    <ul class="dropdown-menu">
        {% for tag in tags|slice:"10:" %}
            <li><a href="{{ tag.get_absolute_url }}" class="dropdown-item">{{ tag }}</a></li>
        {% endfor %}
    </ul>
  </div>
</div>

