
#Line31 {
    position: absolute;
    width: 830px;
    height: 0;
    top: 282px;
    right: 524px;
    bottom: 798px;
    left: 566px;
    border: 1px solid #CCCCCC;
    background: #CCC;
    box-sizing: border-box;
}

#Line32{
  position: absolute;
  width: 830px;
  height: 0px;
  left: 566px;
 top: 658px;
 right: 524px;
 bottom: 422px;

border: 1px solid #CCCCCC;
box-sizing: border-box;
}


#title{
  position: absolute;
  width: 128px;
  height: 33px;
  left: 566px;
  top: 233px;
  font-family: 'Pretendard' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 28px !important;
  line-height: 33px !important;
  color: #888888 !important;
  border:none!important;

}


#content{
    position: absolute;
  width: 830px;
  height: 19px;
  left: 566px;
  top: 310px;
  left:524px;
  right:566px;
  font-family: 'Pretendard'!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-size: 16px!important;
  line-height: 19px!important;
 
  color: #888888;
  }

  #plus{
    position: absolute;
  width: 179px;
  height: 19px;
  left: 566px;
  top: 707px;
  right:1195;
  
  font-family: 'Pretendard'!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-size: 16px!important;
  line-height: 19px!important;
  /* identical to box height */
  
  color: balck;
  }

  #category{
    width: 82px;
    height: 18px;
    
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    left: 566px;
    top: 152px;
    right:1380;
  
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
