#Line31 {
    position: absolute;
    width: 830px;
    height: 0;
    top: 282px;
    right: 566px;
    bottom: 798px;
    left: 524px;
    border: 1px solid #CCCCCC;
    background: #CCC;
    box-sizing: border-box;
}

#Line32{
  position: absolute;
  width: 830px;
  height: 0px;
  left: 524px;
 top: 658px;
 right: 566px;
 bottom: 422px;

border: 1px solid #CCCCCC;
box-sizing: border-box;
}


  #title{
  position: absolute;
  width: 128px;
  height: 33px;
  left: 524px;
  top: 233px;
  right:1268px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #888888;
  border: none; 

}

#content{
  position: absolute;
width: 830px;
height: 329px;
left: 524px;
top: 310px;

right:566px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
border: none;
color: #888888;
}

#plus{
  position: absolute;
width: 179px;
height: 19px;
left: 524px;
top: 680px;
right:1380;
bottom:384px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: balck;
}

#category {
  position: absolute; 
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  left: 524px;
  top: 178px;
  right: 1380px;
bottom:884px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
/* 익명 */
#nikname{
  position: absolute;
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

  width: 26px;
height: 18px;
left: 682px;
  top: 178px;
  right: 1192px;
bottom:884px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
/* identical to box height */

color: #000000;
}
#tag{
  position: absolute;
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

  width: 26px;
height: 5px;
left: 900px;
  top: 178px;
  right: 1064px;
bottom:884px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
/* identical to box height */

color: #000000;
}
#list{
  /* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7px 16px;
gap: 10px;

position: absolute;
width: 81px;
height: 31px;
left: 1108px;
top: 234px;

background: #ECECEC;
border-radius: 24px;


/* 목록보기 */

width: 49px;
height: 17px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
#sub{
  /* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7px 16px;
gap: 10px;

position: absolute;
width: 57px;
height: 31px;
left: 1297px;
top: 234px;

background: #333333;
border-radius: 24px;


/* 등록 */

width: 25px;
height: 17px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
#cancel{
  
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7px 16px;
gap: 10px;

position: absolute;
width: 84px;
height: 31px;
left: 1201px;
top: 234px;

background: #ECECEC;
border-radius: 24px;


width: 52px;
height: 17px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;


color: #000000;

flex: none;
order: 0;
flex-grow: 0;

}